/* Base Styles */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif !important;
    box-sizing: border-box;
    letter-spacing: 1.2;

}

html,* {
    scroll-behavior: smooth;
}

body {
    background-color: #080808;
    color: #fff;
    /* margin: 10px 100px; */
    width: 98vw;
    width: 100%;
}

#header {
    height: 100%;
    background: black;
    width: 90vw;
    margin-bottom: 200px;
}

.container {
    padding: 10px 10%;
    padding: 0px 20px;
    margin: 10px 10px;
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.logo {
    margin-right: 10px;
    width: inherit;
    display: flex;
    justify-content: space-between;
    color: white;
}

.logo span {
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#element {
    color: rgb(235, 64, 34);
}

nav ul li {
    display: inline-block;
    list-style: None;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li:hover {
    transform: scale(1.2, 1.2);
    transition-duration: 0.2s;
}

nav ul li a::after {
    content: ' ';
    width: 0;
    height: 3px;
    background: #f5033f;
    position: absolute;
    right: 0; /* Move of transition */
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 27vh;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: rgb(239, 16, 16);
}

.download {
    font-size: medium;
    border: 3px solid rgba(224, 4, 4, 0.852);
    padding: 15px;
    display: inline;
    background-color: black;
    animation-name: anim;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes anim {
    0% {
        background-color: #ff004f;
    }

    100% {
        background-color: rgb(212, 102, 102);
    }
}

/*-----------------------About-------------------------*/

#about {
    padding: 80px 0;
    color: #ababab;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.subtitle {
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.subinfo {
    line-height: 2;
    letter-spacing: 1.2px;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #ff004f;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}



/*--------------------------Tech---------------------------*/

.card {
    border: 1px solid white;
    border-radius: 10px;
    height: 250px;
    width: 180px;
    background-color: black;
}

.card:hover {
    transform: scale(1.02, 1.02);
    transition-duration: 0.5s;
    background-color: #a78a90;
}

.info {
    display: flex;
    flex-direction: column;
}

.info span {
    text-align: center;
}

.techs {
    display: grid;
    grid-template-columns: repeat(5, auto);
    row-gap: 50px;
}


/*--------------------------------Achievements-----------------------------------*/
#achievements {
    margin-bottom: 70px;
}

#achievements h1 {
    text-align: center;
}

#achievements .container ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 400;
    letter-spacing: 2px;
}

/*-------------------------------Certificates-----------------------------------------------------------------*/
#certificates {
    margin-bottom: 70px;
}

#certificates h1 {
    text-align: center;
}

.certi-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.certificate img {
    width: 350px;
    height: 250px;
    border-radius: 8px;
}

.certificate {
    border: 2px solid rgb(126, 121, 121);
    padding: 25px;
    border-radius: 8px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.certificate:hover {
    background-color: #4b4747;
}

.certi-title {
    text-align: center;
}

.certi-title:hover {
    font-weight: 600;
} 

.certificate img:hover {
    transform: scale(1.05);
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}


/*------------------------------Internships------------------------------------------------------------*/

#internships {
    margin-bottom: 70px;
}

#internships h1 {
    text-align: center;
}

.certi-intern {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.intern {
    border: 2px solid rgb(126, 121, 121);
    padding: 25px;
    border-radius: 8px;
    display: flex;
    gap: 50px;
    align-items: center;
}

.intern img {
    border-radius: 8px;
    width: 400px;
    height: 400px;
}

.intern>img:hover {
    transform: scale(1.05);
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.info p {
    letter-spacing: 3px;
    line-height: 1.7;
}

/*--------------------------------Coding Profiles--------------------------------*/
#coding {
    margin-bottom: 70px;
}

#coding h1 {
    text-align: center;
}

#coding .container ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 400;
    letter-spacing: 2px;
}

.profiles img{
    width: 23px;
    height: 23px;
    margin-right: 1rem;
    margin-top: 30px;
}

.profiles a {
    text-decoration: none;
    color: white;
}


/*--------------------------------Contact List-------------------------------------*/


.contacts {
    background-color: rgb(27, 26, 26);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px 0;
}

/* Projects */

#projects {
    margin: 105px 0;
}

.project {
    display: flex;
    gap: 50px;
    align-items: center;
    border: 2px solid rgb(126, 121, 121);
    padding: 25px;
    border-radius: 8px;
}

.project > img {
    border-radius: 8px;
    width: 400px;
    height: 400px;
}

.project img:hover {
    transform: scale(1.09);
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.desc {
    letter-spacing: 1px;
    font-family: 'Courier New', Courier, monospace;
}

.desc:hover {
    font-family: 'Courier New', Courier, monospace;
    transform: scale(1.01);
    transition-duration: 1s;
}

.desc p {
    letter-spacing: 3px;
    line-height: 1.7;
}

.linkicon {
    width: 20px;
    height: 18px;
}

#skills ul li span {
    font-size: 17px;
}

#experience ul li span {
    font-size: 17px;
}

#education ul li span {
    font-size: 17px;
}

#education ul li span p {
    font-size: 15px;
}

.footicons {
    width: 5rem;
    height: 5rem;
}

/* Mobile Menu Styles */

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

#nav-menu {
    display: flex;
}

#nav-menu.hidden {
    display: none;
}

/* Media Queries */

/* For screens larger than 1200px */
@media (min-width: 1200px) {
    .container {
        padding: 10px 5%;
    }

    .techs {
        grid-template-columns: repeat(6, auto);
    }
}

/* For tablets and smaller laptops (min-width: 992px and max-width: 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        padding: 10px 5%;
    }

    .techs {
        grid-template-columns: repeat(4, auto);
    }
}

/* For tablets and smaller devices (min-width: 768px and max-width: 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    .header-text h1 {
        font-size: 45px;
    }

    .header-text {
        margin-top: 20vh;
    }

    .tab-titles {
        flex-direction: column;
        margin: 20px 0;
    }

    nav {
        max-width: inherit;
    }

    .logo > div{
        padding-right: 10rem;
    }


    .menu-icon {
        display: inline;
    }

    #nav-menu {
        display: none;
    }

    .hidden {
        display: none;
    }




    .tab-links {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .techs {
        grid-template-columns: repeat(3, auto);
    }

    .project {
        flex-direction: column;
        align-items: center;
    }

    .project > img {
        width: 100%;
        height: auto;
    }

    .desc {
        font-size: 16px;
    }
}

/* For mobile devices (max-width: 767px) */
@media (max-width: 767px) {
    body {
        margin: 10px;
        width: auto;
    }

    #header {
        height: 100vh;
        padding: 20px;
    }

    .container {
        padding: 10px;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        margin: 10px 0;
    }

    .menu-icon {
        display: inline;
    }

    #nav-menu {
        display: none;
    }

    .hidden {
        display: none;
    }

    .header-text h1 {
        font-size: 36px;
    }

    .header-text {
        margin-top: 10vh;
    }

    .tab-titles {
        flex-direction: column;
        margin: 20px 0;
    }

    .tab-links {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .techs {
        grid-template-columns: repeat(2, auto);
        row-gap: 30px;
        /* align-items: center; */
    }

    .tab-links.active-link::after {
        width: 3rem;
    }

    .project {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    .project > img {
        width: 100%;
        height: auto;
    }

    .desc {
        font-size: 14px;
    }

    .contacts {
        padding: 20px;
        margin: 20px 0;
    }

    .footericons {
        width: 60px;
        height: 60px;
    }

    .contacts {
        width: inherit;
    }

    .certificate {
        flex-direction: column;
    }

    .intern {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .dynamicpos {
        margin-bottom: 180px;
    }


}